@tailwind base;
@tailwind components;
@tailwind utilities;

.active-scroll-spy {
  @apply bg-yellow-300;
  @apply rounded;
}

.ss-active {
  @apply bg-yellow-500 text-blue-700 font-bold rounded transition-all;
}

.doted::after {
  background: repeating-linear-gradient(
    white 0px,
    blue 2px,
    transparent 2px,
    transparent 2px
  );
}
